<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.cwl.arccoroutine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".customview.ConstraintLayoutActivity"></activity>
        <activity android:name=".jectpack.TestActivity" />
        <activity android:name=".jectpack.databinding.DataBindingActivity" />
        <activity android:name=".customview.LayoutManagerTestActivity" />
        <activity android:name=".customview.ScrollBehaviorActivity" />
        <activity android:name=".customview.SimpleBehaviorActivity" />
        <activity android:name=".customview.NestedFlingActivity" />
        <activity android:name=".customview.SimpleScollerLayoutActivity" />
        <activity android:name=".customview.SimpleNestedScrollingActivity" />
        <activity android:name=".customview.BehaviorUseActivity" />
        <activity android:name=".customview.SimpleUseDragHelper1Activity" />
        <activity android:name=".customview.SimpleUseViewDragHelperActivity" />
        <activity android:name=".customview.CustomViewMainActivity" />
        <activity android:name=".jectpack.rv.SnapHelperActivity" />
        <activity android:name=".jectpack.viewpager2.ViewPager2MainActivity" />
        <activity android:name=".wanandroid.ui.hotarticles.HotArticlesPagingActivity" />
        <activity android:name=".wanandroid.ui.hotarticles.HotArticlesPagingActivity2" />
        <activity android:name=".wanandroid.ui.hotarticles.HotArticlesActivity" />
        <activity android:name=".wanandroid.ui.WanMainActivity" />
        <activity android:name=".jectpack.paging.ui.PagingActivity" />
        <activity android:name=".jectpack.rv.UseItemTouchHelperActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- tools:node="merge"处理合并 -->
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">

            <!-- 自动初始化 -->
            <meta-data
                    android:name="com.cwl.arccoroutine.jectpack.startup.LibraryB"
                    android:value="androidx.startup" />

            <!--
            手动初始化（也是延迟初始化）
            禁用单个组件的自动初始化，需要在 <meta-data> 标签内添加 tools:node="remove" 清单合并工具会将它从清单文件中删除。
            禁用所有组件初始化，需要在 provider 标签内添加 tools:node="remove" 清单合并工具会将它从清单文件中删除
            在需要初始化的地方 AppInitializer.getInstance(context).initializeComponent
            -->
            <!--
                <meta-data
                    android:name="com.cwl.arccoroutine.test.startup_test.LibraryB"
                    tools:node="remove"
                    android:value="androidx.startup" />
            -->
        </provider>
    </application>

</manifest>